<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plants</title>
  <link rel="stylesheet" href="/stylesheets/style.css" /> 
  <link rel="stylesheet" href="/stylesheets/navBar.css" /> 
  
</head>
<body>
  <nav class="navBar">
    <!-- <div class="logo"> <h1>How not to kill your plants</h1></div> -->
    <div class='logo'><b>Plantasia</b></div>
    <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navBar-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/plants">View all plants</a></li>
      <li><a href="/plants/doctor">Plant doctor</a></li>
      <li><a href="/filter/new">Pick your plant</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
    

      <form id= 'log-out'action='/sessions?_method=DELETE' method='POST'>
      <li><a href="javascript:{}" onclick= "document.getElementById('log-out').submit(); return false;">Log out</a> </li> 
      </form>
    </ul>
    </div> 
  </nav>
    
  <!-- importing everything from views -->
  <%- body %>
  
</body>
</html>