<link rel="stylesheet" href="/stylesheets/landingPage.css" /> 

<!-- <img src='/logo/TitleLogo.png' class="center logo"> -->
<!-- <h1 class="center logo">How not to kill your plants</h1> -->

<div class = 'flexbox-container'>
  <div class = 'flexbox-item flexbox-item-1'>
    <a href="/filter/new">
      <button class='button'><b>Pick the perfect plant for you</b></button>
    <button class='button' style='font-size: 20px; text-align: left;'>We're here to help you pick your ideal plant. With a short quiz, we can get you a plant that fits your home perfectly!</button>
    <img src='https://static01.nyt.com/images/2021/08/29/realestate/27Domestic-Garden-illo/27Domestic-Garden-illo-articleLarge.jpg?quality=75&auto=webp&disable=upscale'>
  </a>
  </div>
  <div class = 'flexbox-item flexbox-item-2'>
    <a href="/plants">
      <button><b>View all plants</b></button>
      <button class='button' style='font-size: 20px; text-align: left;'>Not sure what you want yet? Have a browse through our plant and get all the details you want.</button>
    <img src=https://static01.nyt.com/images/2019/12/06/t-magazine/06tmag-casaus-slide-RB8H/06tmag-casaus-slide-RB8H-superJumbo.jpg>
  </a>
  </div>

  
  <!-- <div class= 'flexbox-item flexbox-item-3'> 
    <img src='https://images.squarespace-cdn.com/content/v1/556ea5c8e4b081da85e406c7/1588138783050-XSITJQ6CAQ1G3DY1625A/How-to-Make-a-Plant-Love-You-book-walk.gif?format=200w.gif'>
  </div>
  -->


</div> 

<script data-num-rows="1" src="javascripts/advertsRender.js" type="text/javascript"></script>
