<p>Welcome to how not to kill your plants!</p>

<a href="/filter/new">
  <button>Filters</button>
</a>

<a href="/plants">
  <button>View All Plants</button>
</a>

<!-- <script data-num-rows="1" src="https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.js" type="text/javascript">
  console.log(tag.src)
</script> -->

<script data-num-rows="1">
  (function advertCreator(window, undefined){
  /* Options */

    var adverts = [
      {'title': '`Test the soil`: Use the pencil trick to avoid overwatering your houseplants in winter',
      'image': 'https://cdn.images.express.co.uk/img/dynamic/13/590x/Use-the-pencil-trick-to-avoid-overwatering-your-houseplants-in-winter-1569501.webp?r=1645456851212',
      'href': 'https://www.express.co.uk/life-style/garden/1569501/houseplant-care-tips-watering-houseplants-pencil-trick-exclusive'},

      {'title': 'Waitrose Florist offers a range of guaranteed fresh flowers hand-tied and delivered to the door 7 days a week', 
      'image': 'waitrose-florist.jpeg', 
      'href': 'https://www.waitroseflorist.com/'},

      {'title': 'Order flowers online from Interflora. Same day delivery available', 
      'image': 'interflora.png', 
      'href': 'https://www.interflora.co.uk/'},

      {'title': 'Transform your garden with wilkos range of outdoor plant pots and planters', 
      'image': 'wilko-logo.png', 
      'href': 'https://www.wilko.com/en-uk/garden-outdoor/garden-lawn-plant-care/plant-pots-planters/c/1341'},

      {'title': 'Beautify your garden with pots and planters from B&Q', 
      'image': 'b&q.webp', 
      'href': 'https://www.diy.com/departments/outdoor-garden/lawn-plant-animal-care/pots-planters/DIY581155.cat'},

      {'title': ' Feeding plants - which is the best fertiliser to use?', 
      'image': 'fertiliser.webp', 
      'href': 'https://www.gardenersworld.com/how-to/grow-plants/feeding-plants-which-fertiliser-should-i-use/'}
    ];

    /* most recently parsed script */
    var scripts = document.getElementsByTagName("script");
    var index = scripts.length - 1;
    var tag = scripts[index];
    var src = 'https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.js';
    var kaboodleRoot = src.substring(0, src.lastIndexOf("/"));
    var kaboodleStyle = document.createElement("link");
    kaboodleStyle.href = 'https://s3-us-west-2.amazonaws.com/kaboodle/kaboodle.css'; 
    kaboodleStyle.rel = 'stylesheet';
    kaboodleStyle.type = 'text/css'; 
    document.head.appendChild(kaboodleStyle);

    var numRows = tag.dataset.numRows || 2;

    var kaboodleModule = document.createElement("div");
    kaboodleModule.className = "kaboodle-module";
    tag.parentNode.insertBefore(kaboodleModule, tag.nextSibling);

    /* most recently added kaboodle tag, i.e. this one */
    var kaboodles = document.getElementsByClassName("kaboodle-module");
    var index = kaboodles.length - 1;
    var kaboodleModuleNode = kaboodles[index];

    var kaboodleHeader = document.createElement("a");
    kaboodleHeader.className = "kaboodle-header";
    kaboodleHeader.href = '';
    kaboodleHeader.innerHTML = "Adverts";
    kaboodleModuleNode.appendChild(kaboodleHeader);
    var kaboodleItems = document.createElement("div");
    kaboodleItems.className = "kaboodle-items";
    kaboodleModuleNode.appendChild(kaboodleItems);
    randomize(adverts);

    window.addEventListener("resize", loadItems, false);

    function loadItems (){
      while (kaboodleItems.firstChild) {
            kaboodleItems.removeChild(kaboodleItems.firstChild);
      }

      var numItems;
      var width = kaboodleModuleNode.offsetWidth;
      var numCols = Math.floor(width / 240.0);
      for(var i = 0; i < numCols * numRows; i++){
        var advert = adverts[i % adverts.length];
        var kaboodleItemLink = document.createElement("a");
        kaboodleItemLink.href = advert["href"]; 
        kaboodleItemLink.onclick = function(){
          if(ga){
            ga('send', 'event', 
            'kaboodleAd', 'click', advert["href"], {'hitCallback':
            function () {
              document.location = advert["href"];
            }
            });
          }
        };
        kaboodleItems.appendChild(kaboodleItemLink);
        var kaboodleItemWrapper = document.createElement("div");
        kaboodleItemWrapper.className = 'kaboodle-item'; 
        kaboodleItemLink.appendChild(kaboodleItemWrapper);
        var kaboodleItemImg = document.createElement("img");
        kaboodleItemImg.src = advert['image'];
        kaboodleItemWrapper.appendChild(kaboodleItemImg);
        var kaboodleItemCaption = document.createElement("p");
        kaboodleItemCaption.innerHTML = advert['title'];
        kaboodleItemWrapper.appendChild(kaboodleItemCaption);
      }

    }

    loadItems();

    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }
    
    function randomize(adverts){
      for(var i = adverts.length - 1; i > 0; i--){
        var swapIndex = getRandomInt(0, i + 1);
        var tmp = adverts[swapIndex];
        adverts[swapIndex] = adverts[i];
        adverts[i] = tmp;
      }
    }

})(window);

</script> 

<script src="scripts/ad" type="text/javascript"></script>
