<link rel="stylesheet" href="/stylesheets/landingPage.css" /> 
<link rel="stylesheet" href="/stylesheets/navBar.css" /> 

<nav class="navBar">
  <div class="logo"> </div>
  <a href="#" class="toggle-button">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</a>
<div class="navBar-links">
  <ul>
    <li><a href="/plants">Plants</a></li>
    <li><a href="/plants/doctor">Plant Doctor</a></li>
    <li><a href="/filter/new">Pick your plant</a></li>
  </ul>
  </div> 
</nav>
<!-- <img src='/logo/TitleLogo.png' class="center logo"> -->
<!-- <h1 class="center logo">How not to kill your plants</h1> -->

<div class = 'flexbox-container'>
  <div class = 'flexbox-item flexbox-item-1'>
    <a href="/filter/new">
      <button class='button'>Pick your perfect plant</button>
    </a>
    <img src='https://static01.nyt.com/images/2021/08/29/realestate/27Domestic-Garden-illo/27Domestic-Garden-illo-articleLarge.jpg?quality=75&auto=webp&disable=upscale'>
  </div>
  <div class = 'flexbox-item flexbox-item-2'>
    <a href="/plants">
      <button>View all plants</button>
    </a>
    <img src=https://static01.nyt.com/images/2019/12/06/t-magazine/06tmag-casaus-slide-RB8H/06tmag-casaus-slide-RB8H-superJumbo.jpg>
  </div>

</div> 

