<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 51.5251, lng: 0.1248 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: uluru,
        });

        function newMarker(coords){
          var marker = new google.maps.Marker({
            position: coords,
            map: map})
        }

        // Marchmont Community Garden
        newMarker({lat: 51.5251 , lng: 0.1248});

        // Culpeper Community Garden
        newMarker({lat: 51.5348, lng: 0.1096});

        // Cottington Community Garden
        newMarker({lat: 51.4902, lng: 0.1060});

        // The Phoenix Garden
        newMarker({lat: 51.5146, lng: 0.1286});

        // Emslie Horniman Community Garden
        newMarker({lat: 51.5246, lng: 0.2105});

        // Godolphin Community Gardens
        newMarker({lat: 51.5038, lng: 0.2323});

        // Brockwell Park Community Greenhouses
        newMarker({lat: 51.4504, lng: 0.1086});

      }
    </script>
  </head>
  <body>
    <h3 class='pageTitle'>Find a community garden near you</h3>
    <h4 style='text-align: center; font-size: 20px;font-weight: normal;'>Let's be realistic, we aren't all green fingered so why don't we leverage existing communities to collectively build gardens.</h4>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7qiuG57pL9uzJTdkHY9sqpGndUUVhUeg&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>