<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Doctor</title>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <style> 

  #intro{
    text-align: center;
    font-size: 40px;
  }

  #scrolly{
    position:relative
  }

  article {
			position: relative;
      text-align: center;
			padding: 0 1rem;
			margin: 0 auto;
			width: 33%;
		}

		.step {
			margin: 2rem auto 4rem auto;
			background-color: green;
			color: #fff;
		}

		.step.is-active {
			background-color: greenyellow;
			color: #3b3b3b;
		}

		.step p {
			text-align: center;
			padding: 1rem;
			font-size: 1.5rem;
		}

    .flexcomponent{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      /* padding: 16px;
      width: 320;
      margin: 0 auto; */
      /* background-color: rgb(104, 152, 111);} */
    }

    label{
      height: 50px; 
      width: 100px; 
    }

    button, input {
    height: 50px; 
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px; 
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    color:white;
    text-shadow:  #FFF;
    background-color: rgb(104, 152, 111);
    }

  </style> 
</head>
<body>
  <section id='intro'>
    <h1 style='font-size:200%'>Plant Doctor</h1>
    <p>Start scrolling to get your advice!</p>
    <img src='https://images.squarespace-cdn.com/content/v1/556ea5c8e4b081da85e406c7/1588138783050-XSITJQ6CAQ1G3DY1625A/How-to-Make-a-Plant-Love-You-book-walk.gif?format=200w.gif'>
  </section>

  <section id= 'scrolly'>
    <article>
      <div class='step' data-step="1" style="padding: 150px 20px;" data-scrollama-index="0"> 
        <h3> Do you feel like your plants <em style='font-style: italic; font-size:23px;'>aren't looking happy & healthy</em>  despite the love you pour into them?</h3>
      </div> 
      <div class='step' data-step="2" style="padding: 250px 0px;" data-scrollama-index="1"> 
        <h3> We know you <b style = 'font-size: 40px'>try</b> to remember to water them regularly and give them enough sunlight</h3>
      </div> 
      <div class='step' data-step="3" style="padding: 100px 0px;" data-scrollama-index="2"> 
        <h3> <b style = 'font-size: 40px'>Maybe</b> even play them the <a href='https://open.spotify.com/album/4Pj4zPHuEUPtfacdeTlqUG'>plantasia Spotify playlist</a> to keep them happy</h3>
      </div> 
      <div class= 'step' data-step='4' style="padding: 181px 0px;" data-scrollama-index="3">
        <h3> <b style = 'font-size: 40px'>BUT</b> somehow it's not working.... that's okay! You just need the <b style = 'font-size: 30px'>plant doctor.</b></h3>
      </div>
    </article>
  </section>
  <h1 style='text-align: center;'>Complete the form below to get advice. We'll get your planty friends looking green again!</h1>
  
  <section id = 'flexcomponent'>
    <form action ='/doctor/recieved' method='GET'>
      <label class = 'flexbox-item flexbox-item1'>
        <input type="text" placeholder="Name"/> 
      </label>
      <label class = 'flexbox-item flexbox-item2'>
         <input type="text" placeholder="Email Address"/> 
      </label>
      <!-- <label class = 'flexbox-item flexbox-item3'>
         <input type="password" placeholder="Password"/> 
      </label> -->
      <label class = 'flexbox-item flexbox-item4'>
        <input type="text" placeholder="Plant type"/> 
      </label>
      <label class = 'flexbox-item flexbox-item5'>
        <input id='description' type="text" placeholder="Description"/>
      </label>
      <!-- <label>
        <ul>  <input id="photo" type="file" name="photo"></ul>
      </label> -->
        <button class= 'submit-button flexbox-item flexbox-item6 center' type="submit">Get answers</button>
      </form>
  </section>

  
  
  <script src="https://unpkg.com/scrollama"></script>
  <script> 
  // Select the events we want to monitor 
  var scrolly = document.querySelector('#scrolly');
  var article = scrolly.querySelector('article');
  var step = article.querySelectorAll('.step');

  var scroller = scrollama();

  function handleStepEnter(response){
    console.log(response);
    response.element.classList.add('is-active')
  }
  
  function handleStepExit(response){
    console.log(response);
    response.element.classList.remove('is-active')
  }

  scroller.setup({
    step: '#scrolly article .step',
    debug: false,
		offset: 0.5
  }).onStepEnter(handleStepEnter)
  .onStepExit(handleStepExit);

  </script>

</body>
</html>