<h4 style="text-align: center; font-size: 65px; font-weight: normal;">We have recieved your question. The doctor will answers asap</h4>
<img class= 'center' src='https://images.squarespace-cdn.com/content/v1/556ea5c8e4b081da85e406c7/1588138783050-XSITJQ6CAQ1G3DY1625A/How-to-Make-a-Plant-Love-You-book-walk.gif?format=200w.gif'>