.flexbox-component{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexi-box{
  width: 750px;
  margin:5px;
  min-height:500px;
  /* background-color: wheat; */
 
}

.flexi-box-1{
  width: 400px;
  background-color: rgb(175, 225, 175);
  border-radius: 25px;
}

.flexi-box-2{
  color:rgb(104, 152, 111);
  
}

h1{
  padding-top: 10px;
  text-align: center;
}

.img-compontent{
  padding-top: 100px;

}
