body{
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.pageTitle {
  font-size:350%;
  text-align: center;
}

.plantName{
  font-size:150%;
}

#intro{
  text-align: center;
  font-size: 40px;
}

.logo{
  padding-left: 5px;
  font-size: 125px;
  /* font-size: 75px; */
  color: white;
  font-family: 'Unica One';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(79,121,66);
  /* font-style: italic; */
}


/**************************
  BUTTONS - DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: rgb(104, 152, 111);
  border-color: rgb(104, 152, 111);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: rgb(104, 152, 111);
  border-color: rgb(104, 152, 111);
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-primary.outline {
  border: 2px solid rgb(104, 152, 111);
  color: rgb(104, 152, 111);
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: rgb(104, 152, 111);
  border-color: rgb(104, 152, 111);
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: rgb(104, 152, 111);
  color: rgb(104, 152, 111);
  box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}