
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
  <body style="background-color: greenyellow">
    <div style="text-align: center;">
      <form id= 'Buy plant'action='/confirmation' method='Get'>
        <ul><a href="javascript:{}" onclick= "document.getElementById('Buy plant').submit(); return false;">Thank you! Order successful</a> </ul> 
        </form>
      </div>
        <div style="text-align: center;">
          <a href="javascript:;" onclick = "history.back()"> <button> view all plant </button> </a>
     
    </div>
</body>
</html>