
  <!-- <body style="background-color: greenyellow"> -->
    <!-- <div style="text-align: center;">
      <form id= 'Buy plant'action='/confirmation' method='Get'>
        <ul><a href="javascript:{}" onclick= "document.getElementById('Buy plant').submit(); return false;">Thank you! Order successful</a> </ul> 
        </form>
      </div>
     -->
      <!-- <div style="text-align: center;">
      <a href='/'>Home</a>
      </div> -->
   <!-- </body> -->

  <h1 style='text-align: center; padding-top: 50px;'>Thank you for your order!</h1>
  <h2 style='text-align: center; padding-top: 50px;'>Please continue to shop for more plants </h2>