<h1>Select Your Filters!</h1>

  <form action='/filter/results' method="GET" >  
    <label for="sunlight">Sunlight:</label>
    <select id="sunlight" name="sunlight">
      <option value="Full sun">Full Sun</option>
       <option value="Full sun to part sun">Full Sun to Part Sun</option>
       <option value="Full sun to part shade">Full Sun to Part Shade</option>
       <option value="Part shade">Part Shade</option>
       <option value="Part shade to full shade">Part shade to full shade</option>
       <option value="Part sun to part shade">Part sun to part shade</option>
    </select>
  <br>  
  <label for="moisture">Moisture:</label>
     <select id="moisture" name="moisture">
      <option value="Low">Low</option>
      <option value="Low to medium">Low to Medium</option>
      <option value="Medium">Medium</option>
      <option value="Medium to high">Medium to High</option>
    </select>
  <br>  
  <label for="indoor-flowering">Indoor Flowering:</label>
    <select id="indoor-flowering" name="indoorFlowering">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      <option value="Rarely">Rarely</option>
      <option value="N/A">N/A</option>
    </select>
  <br>  
  <label for="toxic-to-animals">Toxic to Animals:</label>
    <select id="toxic-to-animals" name="toxicToAnimals">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select> 
    <br>
  <input type="submit" value="Submit">
</form>



  <!-- <label for="toxic-to-dogs">Toxic to Dogs:</label>
    <select id="toxic-to-dogs" name="toxicToDogs">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select> 
  <br>  
  <label for="toxic-to-cats">Toxic to Cats:</label>
     <select id="toxic-to-cats" name="toxicToCats">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select> -->
  <!-- <br>  
  <label for="indoor-height">Indoor Height:</label>
     <select id="indoor-height" name="indoorHeight">
       <option value="0.25 to 0.75 feet">0.25 to 0.75 feet</option>
       <option value="0.50 to 1.00 feet">0.50 to 1.00 feet</option>
       <option value="0.50 to 2.00 feet">0.50 to 2.00 feet</option>
       <option value="0.50 to 6.00 feet">0.50 to 6.00 feet</option>
       <option value="0.50 to 8.00 feet">0.50 to 8.00 feet</option>
       <option value="1.00 to 1.50 feet">1.00 to 1.50 feet</option>
       <option value="1.00 to 2.00 feet">1.00 to 2.00 feet</option>
       <option value="1.00 to 3.00 feet">1.00 to 3.00 feet</option>
       <option value="1.00 to 5.00 feet">1.00 to 5.00 feet</option>
       <option value="1.00 to 6.00 feet">1.00 to 6.00 feet</option>
       <option value="1.50 to 2.00 feet">1.50 to 2.00 feet</option>
       <option value="1.50 to 3.00 feet">1.50 to 3.00 feet</option>
       <option value="2.00 to 10.00 feet">2.00 to 10.00 feet</option>
       <option value="2.00 to 3.00 feet">2.00 to 3.00 feet</option>
       <option value="2.00 to 5.00 feet">2.00 to 5.00 feet</option>
       <option value="2.00 to 6.00 feet">2.00 to 6.00 feet</option>
       <option value="3.00 to 4.00 feet">3.00 to 4.00 feet</option>
       <option value="3.00 to 6.00 feet">3.00 to 6.00 feet</option>
       <option value="3.00 to 8.00 feet">3.00 to 8.00 feet</option>
       <option value="4.00 to 5.00 feet">4.00 to 5.00 feet</option>
       <option value="4.00 to 8.00 feet">4.00 to 8.00 feet</option>
       <option value="6.00 to 8.00 feet">6.00 to 8.00 feet</option>
     </select>
   <br>  
   <label for="indoor-spread">Indoor Spread:</label>
     <select id="indoor-spread" name="indoorSpread">
       <option value="0.00 to 0.00 feet">0.00 to 0.00 feet</option>
       <option value="0.00 to 0.50 feet">0.00 to 0.50 feet</option>
       <option value="0.00 to 0.75 feet">0.00 to 0.75 feet</option>
       <option value="0.25 to 0.75 feet">0.25 to 0.75 feet</option>
       <option value="0.50 to 0.75 feet">0.50 to 0.75 feet</option>
       <option value="0.50 to 1.00 feet">0.50 to 1.00 feet</option>
       <option value="0.50 to 1.50 feet">0.50 to 1.50 feet</option>
       <option value="0.50 to 2.00 feet">0.50 to 2.00 feet</option>
       <option value="0.75 to 1.00 feet">0.75 to 1.00 feet</option>
       <option value="0.75 to 2.00 feet">0.75 to 2.00 feet</option>
       <option value="1.00 to 1.20 feet">1.00 to 1.20 feet</option>
       <option value="1.00 to 1.50 feet">1.00 to 1.50 feet</option>
       <option value="1.00 to 1.75 feet">1.00 to 1.75 feet</option>
       <option value="1.00 to 2.00 feet">1.00 to 2.00 feet</option>
       <option value="1.00 to 3.00 feet">1.00 to 3.00 feet</option>
       <option value="1.00 to 4.00 feet">1.00 to 4.00 feet</option>
       <option value="1.00 to 5.00 feet">1.00 to 5.00 feet</option>
       <option value="1.00 to 6.00 feet">1.00 to 6.00 feet</option>
       <option value="1.25 to 4.00 feet">1.25 to 4.00 feet</option>
       <option value="1.50 to 2.50 feet">1.50 to 2.50 feet</option>
       <option value="1.50 to 3.00 feet">1.50 to 3.00 feet</option>
       <option value="2.00 to 3.00 feet">2.00 to 3.00 feet</option>
       <option value="2.00 to 4.00 feet">2.00 to 4.00 feet</option>
       <option value="2.00 to 7.50 feet">2.00 to 7.50 feet</option>
       <option value="3.00 to 5.00 feet">3.00 to 5.00 feet</option>
       <option value="4.00 to 5.00 feet">4.00 to 5.00 feet</option>
     </select> -->
  