<head>
  <link rel="stylesheet" href="/stylesheets/signIn.css"> 
  <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>

<div class="login-box" style="text-align: center;">
  <h1>Log in</h1>

  <%= incorrectPassword %>
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email">Email: </label>
    <br>
    <input style='width:300px;' id="email" type="email" name="email" value="">
    <br>
    <label for="password">Password: </label>
    <br>
    <input style='width:300px;' id="password" type="password" name="password" value="">
    <br>
    <br>
    <input type="submit" value="Submit">
    <p class="p2"> Don't have an account? <a href="/users/new"> Sign Up Here</a></p>
  </form>
  </div>
  <br></br>
</body>
</html>