<div style='padding-left: 10px;'>
  <h1>Log in</h1>
  <%= incorrectPassword %>
  <form id="new-session-form" action="/sessions" method="post">
    <label for="email">Email: </label>
    <br>
    <input id="email" type="email" name="email" value="">
    <br>
    <label for="password">Password: </label>
    <br>
    <input id="password" type="password" name="password" value="">
    <br>
    <br>
    <input type="submit" class="btn btn-primary btn-lg outline" value="Submit">
  </form>
  </div>